tasks.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2013 (http://www.altova.com) by  () -->
<!--W3C Schema generated by XMLSpy v2013 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:simpleType name="ST_variant">
		<xs:restriction base="xs:string">
			<xs:enumeration value="single"/>
			<xs:enumeration value="multiple"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="variant">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="question"/>
				<xs:element ref="answers"/>
			</xs:sequence>
			<xs:attribute name="code" use="required">
				<!-- <xs:simpleType>
					<xs:restriction base="xs:integer">
						<xs:enumeration value="1"/>
					</xs:restriction>
				</xs:simpleType> -->
			</xs:attribute>
			<xs:attribute name="answer-type" use="required">
				<xs:simpleType>
					<xs:restriction base="ST_variant">
						<xs:enumeration value="multiple"/>
						<xs:enumeration value="single"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="tasks">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="task" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="task">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="variant" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="code" use="required">
				<!-- <xs:simpleType>
					<xs:restriction base="xs:integer">
						<xs:enumeration value="1"/>
						<xs:enumeration value="2"/>
						<xs:enumeration value="3"/>
						<xs:enumeration value="4"/>
						<xs:enumeration value="5"/>
						<xs:enumeration value="6"/>
						<xs:enumeration value="7"/>
					</xs:restriction>
				</xs:simpleType> -->
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="question">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="mark" use="required">
						<!-- <xs:simpleType>
							<xs:restriction base="xs:integer">
								<xs:enumeration value="2"/>
							</xs:restriction>
						</xs:simpleType> -->
					</xs:attribute>
					<xs:attribute name="level" use="required">
						<!-- <xs:simpleType>
							<xs:restriction base="xs:integer">
								<xs:enumeration value="2"/>
							</xs:restriction>
						</xs:simpleType> -->
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="answers">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="answer" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="answer">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="correct" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="no"/>
								<xs:enumeration value="yes"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="code" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:integer">
								<!-- <xs:enumeration value="1"/>
								<xs:enumeration value="2"/>
								<xs:enumeration value="3"/>
								<xs:enumeration value="4"/>-->
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
		<xs:unique name="defcode">
			<xs:selector xpath="mstns:answer" />
			<xs:field xpath="@code" />		
		</xs:unique>
	</xs:element>
</xs:schema>
